@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');

.container{
    display: flex;
    align-items: center;
}
.content{
    /* margin-left: 40px; */
}
.title{
    color: white;
font-size: 34px;
font-weight: 500;
font-family: 'Euclid Circular A', sans-serif;
border-bottom: 1px solid #e32682;
padding-bottom: 8px;

}
.text{
    color: #EDF1F7;
font-size: 16px;
font-family: 'Euclid Circular A', sans-serif;
font-weight: 400;
line-height: 24px;
margin-top: 16px;
}

@media only screen and (max-width: 500px){
    img{
        width: 120px;
    }
    .text{
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
    }
    .title{
        color: white;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Euclid Circular A', sans-serif;
    border-bottom: 1px solid #e32682;
    padding-bottom: 2px;
    
    }
}