
@media only screen and (min-width: 1280px){
    .items{
        margin-left: 120px;
    }
}
@media only screen and (min-width: 1129px) and (max-width: 1279px){
    .items{
        margin-left: 50px;
    }
}

