@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');

.card {
    cursor: pointer;
    border: 0;
    box-shadow: 0;
    transition: all 0.5s;
    margin: 0 15px 30px 0;
}

.image {
    transition: all 0.5s;
    border-radius: 24px;
    filter: blur(0px);
    

}
.imageContainer{
    /* width: 335.13px; */
    /* height: 321.09px; */
    /* background-color: #E32682; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 370px;
    position: relative;
    z-index: 555;
}

.content {
    padding: 16px 24px;
    border: 1px solid #151A30;
    border-radius: 24px;
    background-color: #fff;
    transition: all 0.5s;
    height: 113.6px;
}

.ticket{
    padding: 12px 32px;
    color: #151A30;
font-size: 24px;
font-family: Euclid Circular A;
font-weight: 500;
/* line-height: 32px; */
min-width: 218px;
max-width: 218px;
text-align: center;
font-family: 'Euclid Circular A', sans-serif;
background-color: white;
border-radius: 8px;
height: min-content;
position: absolute;
/* top: 190.545px; */
/* left: 120px; */
z-index: 5;
visibility: hidden;
transition: all 0.1s;
filter: blur(10px);

}

.title {
    color: #151A30;
    font-size: 24px;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 16px 0;
    transition: all 0.5s;

}

.date {
    font-family: 'Euclid Circular A', sans-serif;
    color: #192038;
    font-size: 16px;
    font-family: Euclid Circular A;
    font-weight: 400;
    transition: all 0.5s;

    line-height: 24px;
}
.hall {
    font-family: 'Euclid Circular A', sans-serif;
    color: #192038;
    font-size: 16px;
    font-family: Euclid Circular A;
    font-weight: 400;
    transition: all 0.5s;

    line-height: 24px;
}

.price {
    color: #E32682;
    font-size: 20px;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    line-height: 28px;
}
.ellipse{
    margin: 0 4px;
    transition: all 0.5s;
}


.card:hover .content {
    background-color: #151A30;
}

.card:hover .date {
    color: #fff;
}
.card:hover .hall {
    color: #fff;
}

.card:hover .title {
    color: #fff;
}

.card:hover .image {
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease;
    background-color: red;
}

.card:hover .ticket {
visibility: visible;
transition: all 0.1s;
filter: blur(0px);
}

.card:hover .ellipse {
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(266deg) brightness(104%) contrast(101%);
}





@media only screen and (max-width: 402px){
    .ellipse,
    .hall{
        display: none;
    }
    
}