@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');
.button {
  min-width: 100px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  background-color: #1C213C;
color: #fff;
border-radius: 8px; 
border: none;
padding: 8.2px 16px;
font-size: 16px;
font-weight: 400;
font-family: 'Euclid Circular A', sans-serif;
font-size: 20px;

}

.button::before,
.button::after {
 content: '';
 color: #fff;
  position: absolute;
  width: 100%;
  
  padding: 8.2px 16px;

  left: 0;

  border-radius: 20px; 
padding: 8px 16px;
font-size: 16px;
font-weight: 400;
font-size: 20px;
}
.button::before {
  color: #fff;
  padding: 8.2px 16px;


  font-size: 20px;
  /* height: 2px; */
  /* bottom: 0; */
  /* transform-origin: 100% 50%; */
  /* transform: scaleX(0); */
  transition: transform .4s cubic-bezier(0.16, 0, 0.84, 1);
}
.button::after {
border-radius: 8px; 
padding: 8.2px 16px;

  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .4s cubic-bezier(0.16, 0, 0.84, 1);
color: #151A30;

background-color: #fff;

}

.button:hover::before {
  
font-weight: 400;
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.button:hover::after {
font-weight: 400;

  transform: translate3d(0, 0, 0);
}

.button span {
  display: inline-block;
font-weight: 400;
color: #fff;
  
  transition: transform .4s cubic-bezier(0.16, 0, 0.84, 1);
}

.button:hover span {
  
  transform: translate3d(-100%, 0, 0);
}

/* Presentational Styles */
body {
  display: grid;
  font-size: 27px;
  line-height: 1.5;
  height: 100vh;
  place-items: center;
}

.button {
  text-decoration: none;
  color: #18272F;
  font-weight: 700;
  vertical-align: top;
}