@import url('https://fonts.cdnfonts.com/css/euclid-circular-a');

.card {
    cursor: pointer;
    border: 0;
    box-shadow: 0;
    transition: all 0.5s;
    margin: 0 15px 0px 0;
}

.image {
    transition: all 0.5s;
    border-radius: 24px;
    filter: blur(0px);
}
.imageContainer{
    /* width: 335.13px; */
    /* height: 321.09px; */
    /* background-color: #E32682; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 574px;
    position: relative;
    z-index: 555;
}

.content {
    padding: 10px 24px 12px 24px;
    border: 1px solid #151A30;
    border-radius: 24px;
    background-color: #fff;
    transition: all 0.5s;
    /* height: 100px; */
    position: relative;
    top: -52px;
}

.ticket{
    padding: 12px 32px;
    color: #fff;
font-size: 24px;
font-family: Euclid Circular A;
font-weight: 500;
text-align: center;
/* line-height: 32px; */
/* min-width: 198px; */
/* max-width: 198px; */
font-family: 'Euclid Circular A', sans-serif;
background-color: white;
border-radius: 8px;
height: min-content;
position: absolute;
background-color: #E32682;
/* top: 190.545px; */
/* left: 120px; */
z-index: 5;
visibility: hidden;
transition: all 0.1s;
filter: blur(10px);

}

.titleDateContainer{
    padding: 10px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -59px;
    z-index: 999;

}

.title {
    color: #151A30;
    font-size: 24px;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0  0;
    transition: all 0.5s;
    color: white;
}

.date {
    font-family: 'Euclid Circular A', sans-serif;
    color: white;
    font-size: 16px;
    font-family: Euclid Circular A;
    font-weight: 400;
    transition: all 0.5s;
    
    line-height: 24px;
}
.desc{
    color: #8F9BB3;
    font-size: 16px;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 400;
    line-height: 24px;

}
.hall {
    font-family: 'Euclid Circular A', sans-serif;
    color: #192038;
    font-size: 16px;
    font-family: Euclid Circular A;
    font-weight: 400;
    transition: all 0.5s;

    line-height: 24px;
}

.price {
    color: #E32682;
    font-size: 20px;
    font-family: 'Euclid Circular A', sans-serif;
    font-weight: 500;
    line-height: 28px;
}
.ellipse{
    margin: 0 4px;
    transition: all 0.5s;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(266deg) brightness(104%) contrast(101%);

}


.card:hover .content {
    background-color: #151A30;
}

.card:hover .date {
    color: #fff;
}
.card:hover .hall {
    color: #fff;
}
.card:hover .desc{
    color: #fff;

}
.card:hover .title {
    filter: blur(10px);
}

.card:hover .ellipse {
    filter: blur(10px);
}
.card:hover .date {
    filter: blur(10px);
}
.card:hover .image {
    backdrop-filter: blur(10px);
    filter: blur(4px);
    transition: 0.5s ease;
    background-color: red;
}



.card:hover .ticket {
visibility: visible;
transition: all 0.1s;
filter: blur(0px);

}





@media only screen and (max-width: 1435px){
    .ellipse,
    .date{
        display: none;
    }
    .card {
        margin: 0 0 0 0;
    }
    
}

@media only screen and (max-width: 690px){
    .ellipse,
    .date{
        display: none;
    }
    
}

@media only screen and (max-width: 457px){
    .card {
        margin: 0;
    }
    .title{
        font-size: 22px;
    }
    
}
@media only screen and (max-width: 426px){
    .title{
        font-size: 20px;
    }
    
}
@media only screen and (max-width: 394px){
    .title{
        font-size: 18px;
    }
    
}