

@media only screen and (min-width: 1280px){
    .items{
        margin-left: 120px;
    }
}
@media only screen and (min-width: 1129px) and (max-width: 1279px){
    .items{
        margin-left: 50px;
    }
}


.navbar{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #151a30;
    border-radius: 0 0 24px 24px;
}

@media only screen and (max-width: 1080px){
    .navbar{
        border-radius: 0;
        width: 100%;
    }
}
